@page
@model ActividadesSugeridasMomentos.Pages.ActividadesSugeridas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h2>¿Esta Seguro Que Desea Eliminar Esta Actividad Sugerida?</h2>
<div>
    <hr />
    <dl>
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.IdActividadSugerida)
        </dd>
        <dt>
            Tema
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.Tema)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.DesActividad)
        </dd>
        <dt>
            Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.TipoActividadesSugeridas.DesTipoActividadSug)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="eva_cat_actividades_sugeridas.IdActividadSugerida" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-info btn-md active" role="button" asp-page="./Index">Cancelar</a>
    </form>
</div>