@page
@model ActividadesSugeridasMomentos.Pages.TipoActividadesSugeridas.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<h2>Detalles Tipo Actividad Sugerida</h2>

<div>

    <hr />
    <dl>
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_tipo_actividades_sugeridas.IdTipoActividadSug)
        </dd>

        <dt>
            Descripcion de Actividad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_tipo_actividades_sugeridas.DesTipoActividadSug)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-id="@Model.eva_cat_tipo_actividades_sugeridas.IdTipoActividadSug">Editar</a> |
    <a class="btn btn-info btn-md active" role="button" asp-page="./Index">Regresar</a>
</div>
